/* Stylesheet for the Wiki
 Based on the lighttpd default page in debian */

/* General body */
html,body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

.title {
    text-align: center;
    margin: 0;
}

#content {
    min-height: 100%;
    display: flex;
}
                   
#root {
    margin: 0.5em;
    flex-grow:1;
    width: calc(100% - 2em);
    box-sizing:border-box;
}
#root.edit {
    display: flex;
    flex-direction: column;
}
textarea {
    font-size:1.5em;
    flex-grow: 1;
    margin-bottom:1em;
}

select {
    margin: 0.3em;
}

a.button {
    border: 3px #008CBA solid;
    border-radius:0.3em;
    padding:0.3em;
    margin: 0.5em;
    transition-duration: 0.1s;
}

a.button:hover {
    cursor:pointer;
    background-color: #008CBA;
    color: white;
}

/* Side by side view */
#root.view {
    display:flex;
    flex-direction: row;
}
#left {
    flex-grow: 1;
    margin-right: 1em;
    display:inline-flex;
    flex-direction: column;
}

#right {
    margin-left: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction:column;
}

#code, .trace {
    border: 1px #008CBA dashed;
    border-radius: 5px;
    flex-grow: 1;
    padding: 5px;
    padding-top:0.6em;
    margin-top: 0em;
}    

.trace li {
    margin: 5px;
    list-style: none;
    border-radius: 1em;
    padding: 0.5em;
    display: inline-block;
    border: 2px solid;
}

li.negative, .errform {
    background-color: hsl(0, 70%, 90%);
    color:hsl(0, 100%, 30%);
    border-color:hsl(0, 100%, 30%);
}
li.positive {
    background-color: hsl(85, 70%, 90%);
    color: hsl(85, 100%, 30%);
    border-color:hsl(85, 100%, 30%);
}
.code {
    font-family: 'Monospace';
    white-space: pre;
}
h2 {
    font-size: 1.2em;
    margin-bottom:0;
    padding-bottom: 0;
}

svg {
    border: 1px #008CBA dashed;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 100%;
    padding: 5px;
}
#error {
    display: none;
}
#error.visible {
    display: block;
    margin-left:10%;
    margin-right:10%;
    background-color: #ffdddd;
    padding: 10px;
    border-radius:5px;
    white-space: pre;
}

select {
    padding:0.3em;
}
select:invalid {
    color: gray;
}

/* Syntactic color */
.hl-error {
    border: 1px dashed darkred;
}
.keyword { font-weight: bold; color: lightblue; }
.string { color: #ffaaaa; }
.constr { color: blue; }
.number{ color: darkgreen; }

.indented {
    border-left: 1px black dotted;
    margin-top:5px;
    margin-left: 10px;
    padding-left: 10px;
}

/* Tooltip */
#tooltip{
    background-color: lightblue;
    border-radius:10px;
    border: 1px orange solid;
    position: sticky;
    display:inline-block;
    top: 1em;
    margin: 10px;
    padding: 15px;
}

#tooltip.error {
    background-color:hsl(0, 90%, 90%);
}
                        

tspan.button {
    text-decoration:underline;
    text-decoration-style:dotted;
    cursor:pointer;
}
tspan.button:hover {
    text-decoration:underline;
    text-decoration-style:solid;
    cursor:pointer;
}

#form {
    display: none;
}

#form.visible {
    display:block;
    position: fixed;
    padding: 20px;
    top:20vh;
    left:50%;
    transform:translateX(-50%);
    border-radius: 5px;
    border: 1px black solid;
    background-color: lightgrey;
}

.negative polygon {
    fill: hsl(0, 70%, 90%);
    stroke:hsl(0, 100%, 30%);
}

.negative text {
    fill: hsl(0, 100%, 30%);
}

.positive polygon {
    fill: hsl(85, 70%, 90%);
    stroke: hsl(85, 100%, 30%);
}

.positive text {
    fill: hsl(85, 100%, 30%);
}

.neutral polygon {
    fill: hsl(250, 70%, 90%);
    stroke: hsl(250, 20%, 30%);
}
.neutral text {
    fill: hsl(250, 20%, 30%);
}             

.active {
    stroke-dasharray: 5,5
    
}
.active:hover {
    stroke-dasharray: 10,10;
    cursor:pointer;
    filter: brightness(130%);
        
}

svg {
    background-color:#f3f3f3;
}

g { fill: none; }

.location ellipse {
    fill:white;
}
.select {
    fill: hsl(0, 80%, 50%);
    text-decoration: underline dotted;
}

.graph > polygon {
    fill:none;
}

.select:hover {
    cursor:pointer;
    fill: hsl(0, 80%, 80%);
    text-decoration: underline solid;
    font-weight: bold;
}
    
.has_token {
    border-radius: 0.3em;
    background-color:#eeeeee;
    border: 2px orange solid;
}
.code_active {
    cursor: pointer;
    text-decoration: underline;
}
    
